head
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-181044941-1')
  script(src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async="")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-181044941-1');
  //-   var OneSignal = window.OneSignal || [];
  //-   OneSignal.push(function() {
  //-     OneSignal.init({
  //-       appId: "0b4a10b1-a6d4-4e83-811b-219b3c2fd4b8",
  //-     });
  //-   });

  //- include author.pug
      
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title Super Fab Lab | Kerala Startup Mission
  meta(name='description', content='Super Fab Lab | Kerala Startup Mission')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  link(rel='apple-touch-icon' sizes='57x57' href='./fav/apple-icon-57x57.png')
  link(rel='apple-touch-icon' sizes='60x60' href='./fav/apple-icon-60x60.png')
  link(rel='apple-touch-icon' sizes='72x72' href='./fav/apple-icon-72x72.png')
  link(rel='apple-touch-icon' sizes='76x76' href='./fav/apple-icon-76x76.png')
  link(rel='apple-touch-icon' sizes='114x114' href='./fav/apple-icon-114x114.png')
  link(rel='apple-touch-icon' sizes='120x120' href='./fav/apple-icon-120x120.png')
  link(rel='apple-touch-icon' sizes='144x144' href='./fav/apple-icon-144x144.png')
  link(rel='apple-touch-icon' sizes='152x152' href='./fav/apple-icon-152x152.png')
  link(rel='apple-touch-icon' sizes='180x180' href='./fav/apple-icon-180x180.png')
  link(rel='icon' type='image/png' sizes='192x192' href='./fav/android-icon-192x192.png')
  link(rel='icon' type='image/png' sizes='32x32' href='./fav/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='96x96' href='./fav/favicon-96x96.png')
  link(rel='icon' type='image/png' sizes='16x16' href='./fav/favicon-16x16.png')
  link(rel='manifest' href='./manifest.webmanifest')
  meta(name='msapplication-TileColor' content='#2a0845')
  meta(name='msapplication-TileImage' content='./fav/ms-icon-144x144.png')
  meta(name='theme-color' content='#2a0845')

  meta(name='apple-mobile-web-app-capable' content='yes')
  meta(name='apple-mobile-web-app-status-bar-style' content='black')
  meta(name='apple-mobile-web-app-title' content='Super Fab Lab | Kerala Startup Mission')
  link(rel='apple-touch-icon' href='./fav/apple-icon-152x152.png')

  link(rel="stylesheet", href="./css/main.scss")
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css" rel="stylesheet">
  script(type='application/ld+json').
    {
    "@context": "https://schema.org",
    "@type": "GovernmentOrganization",
    "name": "Fab Lab Kerala",
    "alternateName": "Super Fab Lab",
    "url": "https://fablabkerala.in",
    "logo": "https://fablabkerala.in/logo-new.b18fc6d0.png",
    "sameAs": [
    "https://www.facebook.com/fablabkerala",
    "https://www.instagram.com/fablab.kerala/",
    "https://fablabkerala.in"
    ]
    }
