nav.site-navigation
  
  .container.h-100
    .row.align-items-center.h-100
      .col-4.col-sm-2
        img.img-fluid(src="./img/logo-new.png")
      .col-6.col-sm-8
        div.news
          span.mr-5.d-block.d-sm-inline-block News
          span +91 484 2977137
        ul
          li
            a(data-scroll, href='index.pug#slider-section') Home
          li
            a(data-scroll, href='https://sites.google.com/startupmission.in/fablabkerala/services', target="_blank") Services
          li
            a(data-scroll, href='https://sites.google.com/startupmission.in/superfablab', target="_blank") Machines
          li
            a(data-scroll, href='https://sites.google.com/startupmission.in/fablabkerala/labs', target="_blank") Labs
          li
            a(data-scroll, href='https://fabacademy.fablabkerala.in/', target="_blank") Fab Academy
          li
            a(data-scroll, href='https://sites.google.com/startupmission.in/fablabkerala/home_1', target="_blank") About Us
          li.d-sm-none
            a(data-scroll, href='#') Login
      .col-2
        ul.d-none.d-sm-flex.mt-4
          li
            a(data-scroll, href='#') Login
        .hamburger-menu.d-lg-none
          span
          span
          span
          span
    
