@import "./mixins";
.fp-tableCell {
  position: absolute;
}

.fp-responsive {
  padding: 0 !important;
  .scroll {
    height: auto !important;
  }
  .fp-tableCell {
    position: relative;
  }
}

#tile-section {
  padding-top: 20px;
  padding-bottom: 20px;
  // overflow-y: scroll;
  // overflow-x: hidden;
  // transform: rotate(-90deg) translateX(320px) translateY(-1410px);
  // transform-origin: top right;
  .group {
    max-width: 1100px;
    // transform: rotate(90deg);
    // transform-origin: right top;
  }
  // .scroll {
  //   position: fixed;
  //   bottom: 0;
  //   left: 0;
  // }
  .scroll {
    max-width: 1100px;
    width: 100%;
    float: left;
    display: block;
    height: 100%;
    // padding: 50px;
    padding: 0;
    padding-top: 25px;
    margin: 0;
    position: relative;
    // $elements: 3;
    // @for $i from 0 to $elements {
    //   &:nth-of-type(#{$i + 1}) {
    //     transform: translateX($i*100%);
    //   }
    // }
  }
  .row {
    margin-right: 0;
    @include my_bp(sm) {
      margin-right: -15px;
    }
  }
  .grid {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    line-height: 30px;
    width: 100%;
    flex-wrap: wrap;
    @include my_bp(sm) {
      margin: 5px;
    }
    .item {
      color: white;
      font-weight: bold;
      font-size: 1.5em;
      text-align: center;
      flex: 22% 1 auto;
      height: auto;
      width: 70%;
      margin: 5px;
      transition: all .5s ease-in-out;
      text-decoration: none;
      filter: grayscale(100%);
      cursor: pointer;
      color: rgba(0, 0, 0, .4);
      // transform: rotate(90deg);
      // transform-origin: right top;
      @include my_bp(sm) {
        width: 18%;
        margin: 0;
      }
      @include my_bp(lg) {
        width: 22%;
        margin: 0;
      }
      &:before {
        content: '';
        float: left;
        padding-top: 95%;
      }
      &:hover {
        filter: grayscale(0%);
        color: rgba(0, 0, 0, .8);
      }
      &.person {
        &:hover {
          .back {
            opacity: 1;
            height: 80px !important;
          }
        }
        .back {
          position: absolute;
          bottom: 0;
          text-align: center;
          background: rgba(0, 0, 0, .75);
          width: 100%;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 10px;
          color: white;
          height: 0px;
          opacity: 0;
          transition: all 0.5s ease-in-out;
          p {
            margin: 0;
          }
        }
      }
      &.double {
        display: flex;
        flex-direction: row;
        flex: 2 1 auto;
        width: 100%;
        // margin: 9px;
        @include my_bp(sm) {
          width: 49%;
        }
        &:before {
          content: '';
          float: left;
          padding-top: 50%;
        }
        .content {
          width: 50%;
        }
        &.single {
          border: 1px solid rgba(200, 200, 200, .4);
          margin: 5px;
          margin-bottom: -5px;
          .content {
            border: 0;
            margin: 0;
          }
        }
      }
      &.half {
        flex: 0.5;
        @include my_bp(sm) {
          flex: 1 1 auto;
        }
      }
      &.flip {
        perspective: 1000px;
        &:focus {
          .flip-container {
            transform: rotateY(180deg);
          }
        }
        &:hover {
          .flip-container {
            transform: rotateY(25deg);
          }
          &:focus {
            .flip-container {
              transform: rotateY(180deg);
            }
          }
        }
        .flip-container {
          height: 100%;
          position: relative;
          transition: transform 0.8s;
          transform-style: preserve-3d;
          //transition-delay: 1s;
          .front,
          .back {
            border: 1px solid rgba(200, 200, 200, .4);
            margin: 5px;
            padding: 10px;
            display: flex;
            flex: 1 1 auto;
            height: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            backface-visibility: hidden;
            position: absolute;
          }
          .back {
            transform: rotateY(180deg);
          }
          .front {
            h4 {
              font-weight: 700;
              text-transform: capitalize;
              color: #3fafef;
              font-size: 1.2rem;
            }
          }
          p {
            text-align: justify;
            font-size: .9rem;
            line-height: 1.2rem;
          }
        }
        .hover-container {
          height: 100%;
          position: relative;
          transition: transform 0.8s;
          transform-style: preserve-3d;
          //transition-delay: 1s;
          &:hover {
            .back {
              opacity: 1;
              height: 100% !important;
              top: 0;
            }
          }
          .front,
          .back {
            border: 1px solid rgba(200, 200, 200, .4);
            margin: 5px;
            padding: 10px;
            display: flex;
            flex: 1 1 auto;
            height: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            // backface-visibility: hidden;
            position: absolute;
          }
          .back {
            // transform: rotateY(180deg);
            height: 0px;
            opacity: 0;
            padding-top: 0;
            padding-bottom: 0;
            transition: all 0.4s ease-in;
            transition-delay: .2s;
            background: rgba(0, 0, 0, .75);
            color: white;
            top: 50%;
          }
          .front {
            h4 {
              font-weight: 700;
              text-transform: capitalize;
              color: #3fafef;
              font-size: 1.2rem;
              @include my_bp(md) {
                font-size: 1rem
              }
            }
          }
          p {
            text-align: justify;
            font-size: .9rem;
            line-height: 1.2rem;
            @include my_bp(md) {
              font-size: .8rem
            }
          }
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        border: 1px solid rgba(200, 200, 200, .4);
        margin: 5px;
        padding: 10px;
        padding-bottom: 0px;
        flex: 1 1 auto;
        width: 100%;
        @include my_bp(sm) {
          width: auto;
        }
        p {
          text-align: justify;
          font-size: .9rem;
          line-height: 1.2rem;
        }
        &.circle {
          border-radius: 50%;
        }
        &.launch {
          align-items: flex-start;
          // font-variant: small-caps;
          h4 {
            font-weight: 700;
            text-transform: uppercase;
            color: #3fafef;
            font-size: 2rem;
            @include my_bp(md) {
              font-size: 1.5rem
            }
          }
          h2 {
            font-size: 2.5rem;
            margin: 0;
            color: #ed462f;
          }
          h1 {
            font-size: 6rem;
            color: #449667;
          }
        }
        &.maker {
          // font-variant: small-caps;
          // color: #0f3d65;
          h4 {
            font-weight: 700;
            text-transform: uppercase;
            color: #3fafef;
            font-size: 2rem;
            margin: 0;
            @include my_bp(md) {
              font-size: 1.5rem
            }
          }
        }
      }
    }
  }
  .black {
    background: black;
    color: white !important;
    h4 {
      color: white !important;
    }
  }
}