@import "./mixins";
$block-size-sm: 30vh;
$block-size: 20vh;
#flip-book {
  height: 150vh;
  .content {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    .grid {
      padding: 0;
      margin: 0 auto;
      list-style: none;
      display: flex;
      justify-content: center;
      width: 100vh;
      flex-wrap: wrap;
      transition: transform 0.8s;
      &.open {
        @include my_bp(sm) {
          transform: translateX(-20vw);
        }
      }
      .item {
        flex: $block-size 1 auto;
        width: $block-size;
        padding: 5px;
        margin: 5px;
        position: relative;
        perspective: 1000px;
        // filter: grayscale(100%);
        @include my_bp(sm) {
          flex: $block-size-sm 1 auto;
          width: $block-size-sm;
        }
        &:before {
          content: '';
          float: left;
          padding-top: 100%;
        }
        // &:hover {
        //   filter: grayscale(0%);
        // }
        .flip-box {
          transition: transform 0.1s;
          transform-style: preserve-3d;
          height: 100%;
        }
        .slide {
          border: 1px solid rgba(200, 200, 200, .4);
          background: white;
          display: flex;
          flex: 1 1 auto;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          position: absolute;
          transition: filter 0.5s;
          cursor: pointer;
          filter: grayscale(100%);
          &.color {
            filter: grayscale(0);
            &:hover {
              filter: grayscale(100%);
            }
          }
          &.mainlogo {
            filter: grayscale(0);
            &:hover {
              filter: grayscale(100%);
            }
          }
          &.back {
            transform: rotateX(180deg);
          }
          &.circle {
            border-radius: 50%;
          }
          &.black {
            background: black;
            color: white;
          }
          &.maker {
            h4 {
              font-weight: 700;
              text-transform: uppercase;
              font-size: 1rem;
              // margin: 0;
              @include my_bp(md) {
                font-size: 1.5rem
              }
            }
            h5 {
              text-transform: uppercase;
              font-size: .75rem;
              @include my_bp(md) {
                font-size: 1rem
              }
            }
          }
          &.address {
            h4 {
              font-size: 1rem;
              margin: 0;
              @include my_bp(sm) {
                font-size: 1.5rem;
                margin-bottom: 5px;
              }
            }
            p {
              font-size: .75rem;
              margin: 0;
              display: none;
              @include my_bp(sm) {
                font-size: 1rem;
                margin-bottom: 5px;
                display: block;
              }
            }
          }
          &:hover {
            filter: grayscale(0);
            .hover {
              opacity: 1;
              height: 100% !important;
              top: 0;
              &.half {
                bottom: 0 !important;
                height: 30% !important;
                top: auto;
              }
            }
          }
          .hover {
            position: absolute;
            padding: 10px;
            background: rgba(0, 0, 0, .75);
            transition: all 0.4s ease-in;
            // transition-delay: .2s;
            color: white;
            text-align: justify;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 0px;
            width: 100%;
            opacity: 0;
            top: 50%;
            &.half {
              bottom: 0;
              top: auto;
              padding-bottom: 5px;
              h5 {
                font-size: 1rem;
                text-align: left;
                @include my_bp(sm) {
                  font-size: 1rem;
                }
              }
            }
            h4 {
              font-weight: 700;
              text-transform: capitalize;
              font-size: 1rem;
              text-align: center;
              @include my_bp(sm) {
                font-size: 1.2rem;
              }
            }
            p {
              text-align: justify;
              font-size: .75rem;
              line-height: 1rem;
              display: none;
              @include my_bp(sm) {
                font-size: .9rem;
                line-height: 1.2rem;
                display: block;
              }
            }
          }
          .detail {
            display: none;
          }
        }
      }
    }
    .detail-box {
      display: none;
      position: fixed;
      top: 40px;
      border: 1px solid rgba(200, 200, 200, .4);
      height: 90vh;
      width: 90vw;
      padding: 20px;
      background: white;
      z-index: 9999;
      overflow: scroll;
      @include my_bp(sm) {
        z-index: 99;
        height: 90vh;
        width: 35vw;
        right: 60px;
      }
      .close {
        content: 'X';
        position: absolute;
        top: 10px;
        right: 20px;
        font-variant: all-small-caps;
        cursor: pointer;
      }
      p {
        line-height: 1.5rem;
        text-align: justify;
      }
      .button {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        border-radius: 50px;
        border: 1px solid #333;
        color: #333;
        transition: all .3s ease-in;
        &:hover {
          text-decoration: none;
          background: #333;
          color: #fff;
        }
      }
    }
    #confetti-holder {
      position: fixed;
      z-index: 99;
      display: none;
    }
  }
}

.rotate {
  transition: all 1s ease;
  &:hover {
    background: transparent !important;
    border: none !important;
    .cube {
      animation: cubeRotation 10s infinite;
      .side {
        border: 1px solid rgba(255, 255, 255, .4);
      }
    }
  }
}

a {
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.cube {
  width: $block-size;
  height: $block-size;
  transform-style: preserve-3d;
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  margin: auto;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  .side {
    position: absolute;
    transition: all 0.5s ease-in-out;
    width: $block-size;
    height: $block-size;
    float: left;
    overflow: hidden;
    // opacity: 0.85;
    background: black;
    //border: 1px solid rgba(255, 255, 255, .4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // filter: grayscale(100%);
    &.one {
      transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ($block-size/2);
    }
    &.two {
      transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ($block-size/2);
    }
    &.three {
      transform: translateX(0px) translateY(0px) translateZ($block-size/2);
    }
    &.four {
      transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ($block-size/2);
    }
    &.five {
      transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ($block-size/2);
    }
    &.six {
      transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ($block-size/2);
    }
  }
}

@keyframes cubeRotation {
  0% {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  }
  15% {
    transform: rotateX(-22deg) rotateY(-0deg) rotateZ(0deg);
  }
  30% {
    transform: rotateX(-22deg) rotateY(-90deg) rotateZ(0deg);
  }
  45% {
    transform: rotateX(-22deg) rotateY(-180deg) rotateZ(0deg);
  }
  60% {
    transform: rotateX(-22deg) rotateY(-270deg) rotateZ(0deg);
  }
  75% {
    transform: rotateX(-90deg) rotateY(-360deg) rotateZ(0deg); //rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  }
  90% {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  }
}

.schedule {
  &:not(:first-of-type) {
    margin-top: 40px;
  }
  h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 20px;
  }
  &.expanded {
    .schedule-item {
      border-bottom: 2px solid rgba(0, 0, 0, .1);
      // padding: 15px 10px;
    }
  }
  &.venued {
    .schedule-item {
      @include my_bp(sm) {
        margin-left: 160px;
      }
      .time {
        width: 100%;
        @include my_bp(sm) {
          width: 140px;
          padding-top: 0;
        }
      }
    }
  }
  &.single {
    .schedule-item {
      margin-left: 0px;
      border-left: 0;
    }
  }
  .schedule-item {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    padding: 10px 10px;
    font-family: 'Blinker', sans-serif;
    padding-bottom: 0;
    @include my_bp(sm) {
      margin-left: 100px;
      border-left: 1px solid rgba(0, 0, 0, .1);
      border-bottom: 0;
    }
    .item {
      display: inline-block;
      padding: 5px 8px;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      margin-bottom: 10px;
      margin-right: 10px;
      a {
        color: #111;
      }
    }
    .time {
      margin-bottom: 10px;
      color: #333;
      @include my_bp(sm) {
        position: absolute;
        left: 30px;
        padding-top: 5px;
      }
    }
    .description {
      border-bottom: 1px solid rgba(200, 200, 200, .25);
      p {
        font-family: 'Blinker', sans-serif;
        margin-bottom: 5px;
      }
      h4 {
        font-size: 16px;
        font-weight: bolder;
      }
    }
    .speakers {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // padding: 10px 0px;
      // border-bottom: 1px solid rgba(200, 200, 200, .25);
      // margin-bottom: 10px;
      .speaker-item {
        display: flex;
        align-items: center;
        margin: 10px;
        // width: 150px;
        flex-direction: row;
        img {
          width: 100px;
          border-radius: 50%;
          box-shadow: 2px 2px 0px rgba(61, 141, 250, 1);
        }
        .descp {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-left: 20px;
          h3 {
            font-size: 14px;
            margin-top: 5px;
            margin-bottom: 5px;
            text-align: center;
          }
          h4 {
            font-size: 12px;
            font-weight: normal;
            margin: 0;
            text-align: center;
          }
        }
      }
    }
    .details {
      padding-left: 20px;
      font-size: 14px;
      p {
        font-family: 'Blinker', sans-serif;
        font-size: 14px;
        margin: 0;
      }
      .tag {
        a {
          padding-left: 25px;
          &:before {
            position: absolute;
            content: " ";
            width: 21px;
            height: 21px;
            border-radius: 50%;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
            margin-left: -25px;
          }
        }
      }
    }
  }
}