doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/home.scss")
  body

    //include parts/menu.pug

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    section#tile-section
      .container
        .scroll
          .row
            .grid
              a.item(href="new.pug")
                .content.p-3.circle
                  img.img-fluid(src="/img/logo.png", alt="Fab Lab Logo")
              a.item.flip(href="#")
                .hover-container
                  .front
                    img.img-fluid(src="/img/zund.jpg")
                    //- h4 ZUND Digital Cutting Machine
                  .back
                    h4 ZUND G3
                    p The best cutting machine for textile, composites, leather and cardboards for graphics and packaging.
              .item
                .content.maker.black
                  h4 Make 
                  h4 (Almost) 
                  h4 Anything
              
          .row
            .grid
              a.item.flip(href="#")
                .hover-container
                  .front
                    img.img-fluid.mb-2(src="/img/omax.jpg")
                    //- h4.m-0 OMAX 
                    //- h4 Water jet Cutter
                  .back
                    h4 OMAX 5555
                    p The abrasive water jet machining center to cut almost any material
              .item
                .content.launch.circle.black.align-items-center
                  h4 Launch
                  h4 20 January
                  h4 2020
              
              .item.person
                .content(style="background: chocolate; overflow: hidden;position: relative;")
                  img.img-fluid(src="/img/neil.jpg" style="position:absolute; margin-top: -5px;")
                  .back
                    p Prof. Neil Gershenfeld
                    p Director, The Center for Bits and Atoms
                  
          .row
            .grid
              a.item.flip(href="#")
                .flip-container
                  .front.black
                    img.img-fluid(src="/img/ksum.png")
                  .back
                    h4 Kerala Startup Mission
                    p.text-center Integrated Startup Complex, Kinfra Hi-Tech Park, Kalamassery, Cochin, Kerala
                    h4 08033948999
              a.item.flip(href="#")
                .hover-container
                  .front
                    img.img-fluid.mb-2(src="/img/edm.jpg")
                    //- h4.m-0 Mistubishi
                    //- h4 Wire EDM
                  .back
                    h4 Mitsubishi MV1200S-D Wire EDM
                    p High performance wire cut machine for making molds, die and gears
              .item
                .content
                  img.img-fluid(src="/img/mitcba.jpg")
        
        //page 2
        .scroll
          .row
            .grid
              a.item.flip(href="#")
                .hover-container
                  .front
                    img.img-fluid(src="/img/trotec.jpg")
                    //- h4.m-0 Trotec 
                    //- h4 Laser Cutter
                  .back
                    h4 Trotec Speedy 400 Flexx
                    p The fastest dual source laser engraving machine 
              a.item(href="test.pug")
                .content.p-3
                  img.img-fluid(src="/img/fabfound.jpg", alt="Fab Lab Logo")
              a.item.flip(href="#")
                .hover-container
                  .front
                    img.img-fluid(src="/img/leo.jpg")
                    //- h4.m-0 Artec Leo 
                    //- h4 3D Scanner
                  .back
                    h4 Artec Leo 3D Scanner
                    p High resolution 3D scanner to replicate your parts.
              
              
          .row
            .grid
              a.item.flip(href="#")
                .hover-container
                  .front
                    img.img-fluid(src="/img/digg.jpg")
                    //- h4 Injection Molding Machine 
                  .back
                    h4 Robot Digg
                    p The most suitable injection molder for the production of small sample for academic usage and DIY
              .item
                .content.launch.circle.black.align-items-center
                  h4 Super
                  h4 Fab Lab
              
              a.item.flip(href="#")
                .hover-container
                  .front
                    img.img-fluid(src="/img/tomac.jpg")
                    
                  .back
                    h4 Tormach CNC Lathe
                    p The Tormach 15L Slant-PRO is a compact CNC slant-bed lathe designed for prototyping and light production work.

                  
          .row
            .grid
              a.item.flip(href="#")
                .hover-container
                  .front
                    img.img-fluid(src="/img/farm.jpg")
                    //- h4.m-0 Artec Leo 
                    //- h4 3D Scanner
                  .back
                    h4 3D PRINTING FARM
                    p 
              a.item.flip(href="#")
                .hover-container
                  .front
                    img.img-fluid(src="/img/mecha.jpg")
                    //- h4.m-0 Artec Leo 
                    //- h4 3D Scanner
                  .back
                    h4 Mechatronika Pick and Place
                    p A versatile automatic machine for placing SMD components  with a full vision, touchless component centering.

              .item
                .content.launch.circle.black.align-items-center
                  h4 and
                  h4 Many
                  h4 More...


        
                


    
    //include parts/footer.pug

    script(src="./js/index.js")
    //- script(src="./js/home.js")
    script. 
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
      }   
