doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/home.scss")
  link(rel="stylesheet", href="./css/carousal.scss")
  body

    include parts/menu.pug

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    section#slider-section
      //- video(playsinline='playsinline' autoplay='autoplay' muted='muted' loop='loop')
      //-   source(src='https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4' type='video/mp4')

      .container
        .row
          //- a.button(href="https://bit.ly/42kWl4v" data-toggle="modal" data-target="#myModal") Get a Quote
          a.button(href="https://bit.ly/42kWl4v") Submit Your Proposal 
      
      .bottom-strip
        .left
          h3 Calling Proposal from
          h4 Maker Communities
          h5 For Capacity Development Programs !
        .right
          img.img-fluid(src="./img/three-machine.png")

    section#machine-section
      .machines
        .machine-item
          .machine
            img.img-fluid(src="./img/EDM.png")
        .machine-item
          .machine
            img.img-fluid(src="./img/OMAX.png")
        .machine-item
          .machine
            img.img-fluid(src="./img/ZUND.png")
        .machine-item
          .machine
            img.img-fluid(src="./img/TORMACH.png")
      
      a.button(href="https://sites.google.com/startupmission.in/superfablab") View All Machines


    

    section.programs
      #academy.items
        h1 FAB ACADEMY

      #projects.items
        h1 PROJECTS

      #programs.items
        h1 PROGRAMS

    section#team
      h1 TEAM
      .team-wrapper.one
        // .team-item
        //   .team-inner
        //     img.img-fluid(src="./img/TOM.png")
        //     h3 Tom Thomas
        //     p.small Project Director
        .team-item
          .team-inner
            img.img-fluid(src="./img/YADU.png")
            h3 Yadu sharon
            p.small Technical Officer
        .team-item
          .team-inner
            img.img-fluid(src="./img/JOGIN.png")
            h3 Jogin Francis
            p.small Technical Officer
        .team-item
          .team-inner
            img.img-fluid(src="./img/vinod_kumar_bg.jpg")
            h3 Vinod Kumar B G
            p.small Technical Officer
        .team-item
          .team-inner
            img.img-fluid(src="./img/basil.webp")
            h3 Basil Abraham 
            p.small Technical Officer    
        //- .team-item
        //-   .team-inner
        //-     img.img-fluid(src="./img/RAHUL.png")
        //-     h3 Rahul Rajan
        //-     p.small Technical Officer
        // .team-item
        //   .team-inner
        //     img.img-fluid(src="./img/NADEEM.png")
        //     h3 Nadeem Ahmed
        //     p.small Technical Officer
      .team-wrapper.two
        
        // .team-item
        //   .team-inner
        //     img.img-fluid(src="./img/ASHWIN.png")
        //     h3 Ashwin E T
        //     p.small Fablab Coordinator
        //- .team-item
        //-   .team-inner
        //-     img.img-fluid(src="./img/JOEL.png")
        //-     h3 Joel Alex
        //-     p.small Fablab Coordinator
        .team-item
          .team-inner
            img.img-fluid(src="./img/abhilash_vt.jpg")
            h3 Abhilash VT
            p.small Technical Officer
        .team-item
          .team-inner
            img.img-fluid(src="./img/mufeed.jpg")
            h3 Mufeed Mohamed
            p.small Fablab Coordinator
        .team-item
          .team-inner
            img.img-fluid(src="./img/vishnu_ks.jpg")
            h3 Vishnu KS
            p.small Fablab Coordinator
    
    section#footer
      h1.mb-5 ABOUT US
      .container
        .row
          .col-sm-6
            .row
              .col-sm-6
                img.img-fluid(src="./img/logo-new.png")
                p.address
                  | Integrated Startup Complex
                  br
                  | Kinfra Hi-Tech Park
                  br
                  | HMT Colony
                  br
                  | Kalamassery, Kochi
                  br
                  | Kerala  683503
              .col-sm-6
                p.small.text-left Owned By
                img.img-fluid(src="./img/ksum_for_black.png")
                p.m-0.pt-5.small.text-left Powered By
                img.img-fluid(src="./img/cba_logo_alone.png")
                p.m-0.small.text-center THE CENTER FOR
                p.small.m-1.text-center BITS AND ATOMS
                p.small.text-center Massachusetts Institute of Technology
          .col-sm-1
          .col-sm-5.text-left.pl-sm-5
            h2 Contact Us
            .row
              .col-8
                p.pl-4 fabhelp@startupmission.in
              .col-4
                a.button(href="#" data-toggle="modal" data-target="#myModal") Message Us
            h2.py-4 Newsletter
            .row.input.p-2
              .col-10
                input.form-control(placeholder="Type your email id to subscribe")
              .col-2
                a.button(href="#").mb-3
                  img(src="./img/send.svg")

    section
      #myModal.modal
        .modal-dialog
          .modal-content
            //- .modal-header
            //-   .text-center.modal-title Contact us for Design & Fabrication Services
            .modal-body.p-0
              #zf_div_2atSvsZt6zKIFAGHCz-M_lh57HRJQgGxkTlcJumu7Po
              //- form.gform(method="POST" action="https://script.google.com/macros/s/AKfycbzBolAoCAkl4aRkaAsQUo1rFbfuZH_oKdluJHZ-HrI3YCbLKjUp/exec")
            //-   form.gform(method="POST" action="#")
            //-     .form-group
            //-       label(for='name') Name
            //-       input#name.form-control(type='text' name="name" placeholder='Enter Your Name' required)
            //-     .form-group
            //-       label(for='email') Email address
            //-       input#email.form-control(type='email' name="email" placeholder='youremail@example.com' required)
            //-     .form-group
            //-       label(for='phone') Phone Number
            //-       input#phone.form-control(type='number' name="phone" placeholder='Enter Your Phone' required)
            //-     .form-group
            //-       label(for='message') Enquiry
            //-       textarea#message.form-control(rows='3' name="message" required) 
            //-     .form-group
            //-       label.mr-3(for='captcha') Captcha
            //-       input.jCaptcha.form-control(type='text' placeholder='Type in result please' required)
            //-     .form-group
            //-       button.btn.btn-primary(type="submit") Submit
            //-   .thankyou_message(style='display:none')
            //-     h4 Thank You for contacting we will get back to you as soon as possible.

    script(src="./js/index.js")
    script(src="./js/home.js")
    script. 
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
      }   
