doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/home.scss")
  body

    //include parts/menu.pug

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    section#tile-section
      .container
        .row
          .grid
            a.item(href="indexcircle.pug")
              .content.p-3
                img.img-fluid(src="/img/logo.png", alt="Fab Lab Logo")
            a.item.flip(href="#")
              .flip-container
                .front
                  
                  img.img-fluid(src="/img/zund.jpg")
                  h4 ZUND Digital Cutting Machine
                .back
                  h4 ZUND G3
                  p The best cutting machine for textile, composites, leather and cardboards for graphics and packaging.
            a.item.flip(href="#")
              .flip-container
                .front
                  
                  img.img-fluid.mb-2(src="/img/omax.jpg")
                  h4.m-0 OMAX 
                  h4 Water jet Cutter
                .back
                  h4 OMAX 5555
                  p The abrasive water jet machining center to cut almost any material
            .item
              .content.launch
                h4 Launch
                h2 20 January
                h1 2020
        .row
          .grid
            a.item.flip(href="#")
              .flip-container
                .front
                  
                  img.img-fluid.mb-2(src="/img/edm.jpg")
                  h4.m-0 Mistubishi
                  h4 Wire EDM
                .back
                  h4 Mitsubishi MV1200S-D Wire EDM
                  p The MV1200-S Advance M800 features improved machine construction, auto-threading, internal machine communication, power supply technology and operating cost reduction. 


            a.item.flip(href="#")
              .flip-container
                .front
                  img.img-fluid(src="/img/trotec.jpg")
                  h4.m-0 Trotec 
                  h4 Laser Cutter
                .back
                  h4 Trotec Speedy 400 Flexx
                  p The new dimension in laser engraving. The work area of the Speedy 400 has been designed for standard material sizes of laminates, acrylic, and paper, among others.
            .item
              .content.maker
                h2 How to Make 
                h2 (Almost) 
                h1 Anything
            .item
              .content.p-0(style="background: chocolate;")
                img.img-fluid(src="/img/neil.jpg")
                
        .row
          .grid
            a.item.flip(href="#")
              .flip-container
                .front
                  img.img-fluid(src="/img/ksum.jpg")
                .back
                  p.text-center G3B, Thejaswini, Technopark Campus, Kariyavattom, Trivandrum, Kerala 695581
                  h4 08033948999
            a.item.flip(href="#")
              .flip-container
                .front
                  img.img-fluid(src="/img/leo.jpg")
                  h4.m-0 Artec Leo 
                  h4 3D Scanner
                .back
                  h4 Artec Leo 3D Scanner
                  p Artec Leo is able to provide the most intuitive workflow, making 3D scanning as easy as taking a video. 
            a.item.flip(href="#")
              .flip-container
                .front
                  img.img-fluid(src="/img/digg.jpg")
                  h4 Injection Molding Machine 
                .back
                  h4 Injection Molding Machine
                  p injection molding machine
            .item
              .content
                img.img-fluid(src="/img/mitcba.jpg")

        .row
          .grid
            a.item.flip(href="#")
              .flip-container
                .front
                  img.img-fluid(src="/img/tomac.jpg")
                  h4.m-0 Tormach
                  h4 CNC Lathe
                .back
                  h4 Tormach 15L Slant-PRO
                  p The Tormach 15L Slant-PRO is a compact CNC slant-bed lathe designed for prototyping and light production work.
            .item
              .content
                img.img-fluid(src="/img/fabfound.jpg")
            a.item.flip(href="#")
              .flip-container
                .front
                  img.img-fluid(src="/img/leo.jpg")
                  h4.m-0 Artec Leo 
                  h4 3D Scanner
                .back
                  h4 Artec Leo 3D Scanner
                  p Artec Leo is able to provide the most intuitive workflow, making 3D scanning as easy as taking a video. 
            a.item.flip(href="#")
              .flip-container
                .front
                  img.img-fluid(src="/img/digg.jpg")
                  h4 Injection Molding Machine 
                .back
                  h4 Injection Molding Machine
                  p injection molding machine
                


    
    //include parts/footer.pug

    script(src="./js/index.js")
    //- script(src="./js/home.js")
    script. 
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
      }   
