doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/new.scss")
  body

    //include parts/menu.pug

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    section#flip-book
      .content
        canvas#confetti-holder
        .grid
          .item
            .flip-box 
              .slide.front.circle.p-3.mainlogo
                img.img-fluid(src="/img/logo.png", alt="Fab Lab Logo")
                .detail
                  h4 Fab Lab Kerala
                  p A Fab Lab (Fabrication Laboratory) is a technical prototyping platform where people can design and build their own products. Since beginning as an outreach program from MIT‘s Center for Bits and Atoms (CBA), the number of Fab Labs across the world are doubling every two years as institutions across the world are using Fab labs as a stimulus for promoting local entrepreneurship and to serve as a platform for learning and innovation.
                  p With the support of the Government of Kerala, Kerala Startup Mission has setup Fab labs in association with the Center for Bits & Atoms, MIT, USA at Technopark, Trivandrum and Technology Innovation Zone, Kochi. Fab Lab Kerala offers design and fabrication services and training and also gives Fab Academy graduates access to advanced machines for prototyping.
                  a.button(href="http://fablabkerala.in" target="_blank") Know More
              .slide.back.circle.p-3
                img.img-fluid(src="/img/fabfound.jpg", alt="Fab Lab Logo" style="border-radius: 50%;")
                
          .item
            .flip-box
              .slide.front
                img.img-fluid(src="/img/zund.jpg")
                .hover
                  h4 ZUND G3
                  p The best cutting machine for textile, composites, leather and cardboards for graphics and packaging.
                .detail
                  h4 ZUND G3
                  p The Zund is an accurate high-speed gantry with a variety of available tools for cutting, plotting, creasing, scoring, milling, drawing, etc. A range of modules provide the capability to cut, score, crease and mill. Use cases include origami/kirigami for rapid cutting-and-folding of structures with tunable properties, two sided milling for press fit furniture and cutting of carbon fibre fabric for composite layups. 
                  b INDUSTRY
                  .d-flex
                    ul.w-50
                      li Sign & graphics
                      li Packaging
                      li Leather goods
                      li Apparel
                    ul.w-50
                      li Technical textiles
                      li Carbon fiber 
                      li Fiberglass
                  b MATERIAL
                  .d-flex
                    ul.w-50
                      li Paper & Cardboard
                      li Corrugated cardboard
                      li Twin-wall sheets
                      li Wood, Rubber & Foam
                    ul.w-50
                      li Vinyl & Plastics
                      li Textiles & Leather
                      li Aluminum
                      li Fiber-reinforced plastics
                  a.button(target="_blank" href="https://www.zund.com/en/cutting-systems/digital-cutting-systems/g3-cutter") Know More



              .slide.back
                img.img-fluid(src="/img/trotec.jpg")
                .hover
                  h4 Trotec Speedy 400 Flexx
                  p The fastest dual source laser engraving machine 
                
          .item
            .flip-box
              .slide.front.black.maker.rotate
                .cube
                  .side.one
                    img.img-fluid(src="/img/ksum.png")
                  .side.two.p-3
                    img.img-fluid(src="/img/logo.png", alt="Fab Lab Logo")
                  .side.three
                    h4 Make
                  .side.four
                    h4 Almost
                  .side.five
                    h4 Anything
                  .side.six
                    h4 Make 
                    h4 (Almost) 
                    h4 Anything
                .detail
                  h4 Contact us for Design & Fabrication Services
                  form.gform(method="POST" action="https://script.google.com/macros/s/AKfycbzBolAoCAkl4aRkaAsQUo1rFbfuZH_oKdluJHZ-HrI3YCbLKjUp/exec")
                    .form-group
                      label(for='name') Name
                      input#name.form-control(type='text' name="name" placeholder='Enter Your Name' required)
                    .form-group
                      label(for='email') Email address
                      input#email.form-control(type='email' name="email" placeholder='youremail@example.com' required)
                    .form-group
                      label(for='phone') Phone Number
                      input#phone.form-control(type='number' name="phone" placeholder='Enter Your Phone' required)
                    .form-group
                      label(for='message') Enquiry
                      textarea#message.form-control(rows='3' name="message") 
                    .form-group
                      button.btn.btn-primary(type="submit") Submit
                  .thankyou_message(style='display:none')
                    h4 Thank You for contacting we will get back to you as soon as possible.
              .slide.back
                img.img-fluid(src="/img/leo.jpg")
                .hover
                  h4 Artec Leo 3D Scanner
                  p High resolution 3D scanner to replicate your parts.
                
          .item
            .flip-box
              .slide.front
                img.img-fluid.mb-2(src="/img/omax.jpg")
                .hover
                  h4 OMAX 5555
                  p The abrasive water jet machining center to cut almost any material
                .detail
                  h4 OMAX 5555
                  p The Abrasive water jet cutter is unlike any conventional machine. It compose of a high pressure water system, accelerating water through a precision nozzle at near sonic speeds. The water carries with it an abrasive particle which chips away  the material, thereby cutting it with precision. The water jet is a dynamic tool that can cut complex shapes in a wide range of materials from simple metals to complex composites. It plays an integral part in creating the structure for machines that can be built in the lab. It can be used to cut parts like metal gears, sprockets, machine frame machine parts etc.
                  a.button(href="https://www.omax.com/omax-waterjet/5555" target="_blank") Know More
              .slide.back
                img.img-fluid(src="/img/digg.jpg")
                .hover
                  h4 Robot Digg
                  p The most suitable injection molder for the production of small sample for academic usage and DIY
          .item(style="z-index:999;")
            .flip-box
              .slide.front.circle.black.maker.confitte
                h4 Super Fab
                h4 Launch
                h5 20 January 2020
                .detail

                  .schedule.expanded
                    .schedule-item.m-0(style="border-left:0;")
                      h3.text-center Launch by Honorable Chief Minister of Kerala
                      .speakers
                        .speaker-item.mx-auto
                          img(src="./img/cm.jpg")
                          .descp
                            h3 Shri Pinarayi Vijayan
                            h4 Honorable Chief Minister
                            h4 Kerala
                    .schedule-item
                      .time 09:00-11:00
                      .item Bootcamp Check-in
                    .schedule-item
                      .time 11:00 - 11:05
                      .item Welcome Address
                      .speakers
                        .speaker-item
                          img(src="./img/tom.jpg")
                          .descp
                            h3 Tom Thomas
                            h4 Project Director
                            h4 Kerala Startup Mission
                    .schedule-item
                      .time 11:05 - 11.15
                      .item Context Setting
                      .speakers
                        .speaker-item
                          img(src="./img/sherry.jpg")
                          .descp
                            h3 Sherry Lassiter
                            h4 President & CEO
                            h4 Fab Foundation
                    .schedule-item
                      .time 11.15-11.30
                      .item Super Lab- Machine That Makes Machines
                      .speakers
                        .speaker-item
                          img(src="./img/neil.jpg")
                          .descp
                            h3 Prof. Neil Gershenfeld
                            h4 Director
                            h4 MIT CBA
                    .schedule-item
                      .time 11.30-11.45
                      .item Kerala’s Vision for Fab & Hardware
                      .speakers
                        .speaker-item
                          img(src="./img/saji-gopinath.jpg")
                          .descp
                            h3 Dr. Saji Gopinath
                            h4 CEO
                            h4 Kerala Startup Mission
                    .schedule-item
                      .time 11.45-12:00
                      .item Vote of Thanks
                      .speakers
                        .speaker-item
                          //- img(src="./img/saji-gopinath.jpg")
                          .descp
                            h3 Luciano
                            //- h4 CEO
                            //- h4 Kerala Startup Mission
                    .schedule-item
                      .time 12:00-12:30 
                      .item Machine Commissioning
                    .schedule-item
                      .time 12:30-2:00 
                      .item Refreshments
                    .schedule-item
                      .time 3:00-4:00 
                      .item Fab Community Gathering: Fab Foundation
                  //- iframe(src='https://docs.google.com/forms/d/1oI8axzY2COThRZ3QdrDzSrr9NMFnEYWGAGXr7FWr7vU/viewform?embedded=true' width='100%' height='1000px' frameborder='0' marginheight='0' marginwidth='0') Loading...
              .slide.back.black.p-1.address.circle
                h4.text-center Visit us
                p.text-center.m-0 Integrated Startup Complex, Kalamassery, Cochin
                p.text-center Kerala
                
          .item
            .flip-box
              .slide.front
                img.img-fluid(src="/img/neil.jpg")
                .hover.half
                  h5.m-0 Prof. Neil Gershenfeld
                  p.m-0 Director, Center for Bits & Atoms, MIT, USA
                .detail
                  h4 Prof. Neil Gershenfeld
                  p Prof. Neil Gershenfeld is the Director of MIT's Center for Bits and Atoms, where his unique laboratory is breaking down boundaries between the digital and physical worlds, from pioneering quantum computing to digital fabrication to the Internet of Things. He's the founder of a global network of over one thousand fab labs, chairs the Fab Foundation, and leads the Fab Academy.
                  a.button(href="http://ng.cba.mit.edu/", target="_blank") Read More
              .slide.back
                img.img-fluid(src="/img/tomac.jpg")
                .hover
                  h4 Tormach CNC Lathe
                  p The Tormach 15L Slant-PRO is a compact CNC slant-bed lathe designed for prototyping and light production work.


          .item
            .flip-box
              .slide.front.black
                img.img-fluid(src="/img/ksum.png")
                .detail
                  h4 Kerala Startup Mission
                  p KSUM is the nodal agency of Govt. of Kerala for promotion of technoloyy entrepreneurship in the State. As part of its activities, KSUM provides co-working spaces, incubation and acceletion programs, early stage funding and international market access programs for startups. KSUM has also set up state of the art technical infrastructure for startups to build, run and test their products.
                  a.button(href="http://startupmission.kerala.gov.in/" target="_blank") Know More
              .slide.back
                img.img-fluid(src="/img/farm.jpg")
                .hover
                  h4 3D PRINTING FARM
          .item
            .flip-box
              .slide.front
                img.img-fluid.mb-2(src="/img/edm.jpg")
                .hover
                  h4 Mitsubishi MV1200S-D Wire EDM
                  p High performance wire cut machine for making molds, die and gears
                .detail
                  h4 Wire EDM
                  p Wire EDMs are used for making parts and gears, cutting hardened metals and steels into very precise and small parts. This capability is one of the core competencies for machine building.  The Wire-EDM cuts using a thin brass wire a little larger than a hair in diameter. The machine electrifies the brass wire, creating a spark between the wire and the workpiece, eroding a small amount of material. This process is repeated over and over again at a high frequency to cut very precise 2D paths in any kind of metal. The Wire-EDM machine is capable of cutting metals over 6-inches in thickness with a cut width less than 0.25mm.
                  a.button(href="https://www.mcmachinery.com/products-and-solutions/mv1200-s-advance/" target="_blank") Know More
              .slide.back
                img.img-fluid(src="/img/mecha.jpg")
                .hover
                  h4 Mechatronika Pick and Place
                  p A versatile automatic machine for placing SMD components  with a full vision, touchless component centering.
          .item.d-none.d-sm-block
            .flip-box
              .slide.front
                img.img-fluid(src="/img/mitcba.jpg")
                .detail
                  h4 MIT CBA
                  p MIT's Center for Bits and Atoms is an interdisciplinary initiative exploring the boundary between computer science and physical science. CBA studies how to turn data into things, and things into data. 
                  p CBA was launched by a National Science Foundation award in 2001 to create a unique digital fabrication facility that gathers tools across disciplines and length scales for making and measuring things. 
                  p CBA personnel have participated in advances at the boundary between bits and atoms including what were among the first complete quantum computations, using nuclear spins in molecules; physical one-way cryptographic functions, implemented by mesoscopic light scattering; microfluidic bubble logic, with bits that transport materials as well as information; asynchronous logic automata, to align hardware with software; intelligent infrastructure, for energy efficiency; recoding the genome; coded folding, for programming matter; and the additive assembly of functional digital materials.
                  a.button(href="http://cba.mit.edu/" target="_blank") Know More
              a.slide.back.maker(href="http://fablabkerala.in" target="_blank")
                h4 Much
                h4 More!
        .detail-box
          .close x
          .contents
            h4 hello world

    //script(data-cfasync='false' type='text/javascript' src='./js/form-submission-handler.js')
    script(src="./js/new.js")
    

    script. 
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
      }   